<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iSpraker.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name=".app.LoginActivity"
            android:theme="@style/iSprakerTheme"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ispraker" />
            </intent-filter>
        </activity>
        
<!--         <activity
            android:name=".app.ProfileActivity"
            android:theme="@style/iSprakerTheme"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ispraker" />
            </intent-filter>
        </activity> -->
        
        <activity
            android:name=".app.ISprakerAndroidClientActivity"
            android:theme="@style/iSprakerTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /><!-- 
                <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
            
        </activity>
        
<!--         <activity
            android:name=".app.PeopleTabFragment"
            android:label="@string/app_name" /> -->
        
        <activity
            android:name=".app.PersonDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/iSprakerTheme">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".app.HashTagContentActivity"
            android:label="@string/app_name"
            android:theme="@style/iSprakerTheme">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".app.ComposeActivity"
            android:label="@string/app_name"
            android:theme="@style/iSprakerTheme">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>